hydroPi node-red flows.json
[{"id":"387e06b9.46af4a","type":"tab","label":"WatchDog","disabled":false,"info":""},{"id":"5c268a70.aa6074","type":"tab","label":"Performance data","disabled":false,"info":""},{"id":"e887e495.f74df8","type":"tab","label":"Alerts","disabled":false,"info":""},{"id":"9bbe954a.1ac6c8","type":"s7 endpoint","transport":"iso-on-tcp","address":"192.168.50.210","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapter":"","busaddr":"2","cycletime":"600000","timeout":"2000","name":"Siemens S7-1500","vartable":[{"addr":"DB1,WORD0","name":"DATA"}]},{"id":"10f87626.6b7caa","type":"mqtt-broker","name":"hydro","broker":"readinghydro.org","port":"8883","tls":"","clientid":"","usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"37e4ec79.6b7cc4","type":"ui_group","name":"Data","tab":"ad9f3ee1.7c5af","order":1,"disp":true,"width":"6","collapse":true},{"id":"ad9f3ee1.7c5af","type":"ui_tab","name":"Reading Hydro","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"36d066d3.97bbea","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#00b3ff","baseFont":"Tahoma,Geneva,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Reading Hydro","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fa994c63.cd88","type":"ui_group","name":"Watchdog","tab":"607e7848.de2238","order":1,"disp":true,"width":"6","collapse":true},{"id":"607e7848.de2238","type":"ui_tab","name":"System","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"74d94e84.08754","type":"s7 endpoint","transport":"iso-on-tcp","address":"192.168.50.210","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapter":"","busaddr":"2","cycletime":"0","timeout":"2000","name":"Hydro","vartable":[{"addr":"DB990,R0","name":"downstream"},{"addr":"DB990,R4","name":"forebay_1"},{"addr":"DB990,R8","name":"forebay_2"},{"addr":"DB990,R12","name":"upstream"},{"addr":"DB990,R16","name":"gen1_power_kw"},{"addr":"DB990,R20","name":"gen1_drive_rpm"},{"addr":"DB990,R24","name":"gen1_screw_rpm"},{"addr":"DB990,R28","name":"gen1_torque"},{"addr":"DB990,R32","name":"gen1_inverter_amp"},{"addr":"DB990,R36","name":"gen1_flow_ls"},{"addr":"DB990,R40","name":"gen1_energy_mwh"},{"addr":"DB990,R44","name":"gen1_total_flow_m3"},{"addr":"DB990,R48","name":"gen1_gearbox_temp"},{"addr":"DB990,R52","name":"gen1_operating_hours"},{"addr":"DB990,R56","name":"gen2_power_kw"},{"addr":"DB990,R60","name":"gen2_drive_rpm"},{"addr":"DB990,R64","name":"gen2_screw_rpm"},{"addr":"DB990,R68","name":"gen2_torque"},{"addr":"DB990,R72","name":"gen2_inverter_amp"},{"addr":"DB990,R76","name":"gen2_flow_ls"},{"addr":"DB990,R80","name":"gen2_energy_mwh"},{"addr":"DB990,R84","name":"gen2_total_flow_m3"},{"addr":"DB990,R88","name":"gen2_gearbox_temp"},{"addr":"DB990,R92","name":"gen2_operating_hours"},{"addr":"DB990,R96","name":"room_temp"},{"addr":"DB990,R100","name":"control_panel_temp"}]},{"id":"dd0f6c17.983a6","type":"ui_group","name":"Graphs","tab":"ad9f3ee1.7c5af","order":2,"disp":true,"width":"12","collapse":true},{"id":"33cdf7c4.ef3a58","type":"ui_group","name":"Gauges","tab":"ad9f3ee1.7c5af","order":3,"disp":true,"width":"6","collapse":true},{"id":"2111afa5.74e01","type":"persist-store","filename":"persistence.json","interval":"60"},{"id":"2614aa69.4bb126","type":"mqtt-broker","name":"Thingitude","broker":"thingitude-apps.com","port":"8883","tls":"71954563.4a696c","clientid":"","usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"71954563.4a696c","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"4ad3465d.cd1e08","type":"ping","z":"387e06b9.46af4a","mode":"triggered","name":"","host":"192.168.50.1","timer":"60","inputs":1,"x":850,"y":120,"wires":[["b7dc4c27.5a5ee","64540331.0993fc"]]},{"id":"ee8645f0.f87f18","type":"exec","z":"387e06b9.46af4a","command":"sudo shutdown now -r","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":880,"y":340,"wires":[[],[],[]]},{"id":"b7dc4c27.5a5ee","type":"switch","z":"387e06b9.46af4a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":180,"wires":[["4596e63a.53efe8","9eb72c6.530a5d"],["2ed3dbba.033d44"]]},{"id":"4596e63a.53efe8","type":"delay","z":"387e06b9.46af4a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":180,"wires":[["a36d7cde.2451f"]]},{"id":"2ed3dbba.033d44","type":"change","z":"387e06b9.46af4a","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":280,"wires":[["4596e63a.53efe8"]]},{"id":"9eb72c6.530a5d","type":"change","z":"387e06b9.46af4a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Ping Failed, Shutdown in 5 minutes...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":280,"wires":[["5a783746.60d098"]]},{"id":"cd9de58.b5ef818","type":"switch","z":"387e06b9.46af4a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Cancel Reboot","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":280,"wires":[["2ed3dbba.033d44"]]},{"id":"d77ec9a4.c15088","type":"inject","z":"387e06b9.46af4a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"5","topic":"","payload":"true","payloadType":"bool","x":130,"y":120,"wires":[["9cf1ec56.9b44e"]]},{"id":"60936577.07ab5c","type":"trigger","z":"387e06b9.46af4a","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-2","extend":false,"overrideDelay":false,"units":"min","reset":"false","bytopic":"all","topic":"topic","outputs":1,"x":630,"y":120,"wires":[["4ad3465d.cd1e08"]]},{"id":"9cf1ec56.9b44e","type":"ui_switch","z":"387e06b9.46af4a","name":"","label":"Ping Watchdog Enabled","tooltip":"","group":"fa994c63.cd88","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":390,"y":120,"wires":[["60936577.07ab5c"]]},{"id":"64540331.0993fc","type":"ui_text","z":"387e06b9.46af4a","group":"fa994c63.cd88","order":2,"width":0,"height":0,"name":"","label":"Ping Response","format":"{{msg.payload}}","layout":"row-spread","x":1060,"y":120,"wires":[]},{"id":"5a783746.60d098","type":"ui_toast","z":"387e06b9.46af4a","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"Cancel Reboot","cancel":"OK","raw":false,"topic":"","name":"","x":490,"y":280,"wires":[["cd9de58.b5ef818"]]},{"id":"6c5fe0a5.7b37c","type":"ui_button","z":"387e06b9.46af4a","name":"","group":"fa994c63.cd88","order":10,"width":0,"height":0,"passthru":false,"label":"Shutdown","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":440,"y":400,"wires":[["b70face5.99334"]]},{"id":"a1d12530.4c0258","type":"ui_button","z":"387e06b9.46af4a","name":"","group":"fa994c63.cd88","order":11,"width":0,"height":0,"passthru":false,"label":"Reboot","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":460,"y":340,"wires":[["abe7a0d.5d83d6"]]},{"id":"a36d7cde.2451f","type":"exec","z":"387e06b9.46af4a","command":"sudo shutdown now -h","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":880,"y":400,"wires":[[],[],[]]},{"id":"2974e058.67fcc","type":"Memory","z":"387e06b9.46af4a","name":"","x":360,"y":500,"wires":[["60a741d6.1c897"]]},{"id":"60a741d6.1c897","type":"change","z":"387e06b9.46af4a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.memusage","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":500,"wires":[["84670e59.0f2e4"]]},{"id":"c889d102.ec1f1","type":"inject","z":"387e06b9.46af4a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"20","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":540,"wires":[["2974e058.67fcc","cadd050c.9d1af8","6026daa1.5f8584","60f5464a.947ed8"]]},{"id":"84670e59.0f2e4","type":"ui_text","z":"387e06b9.46af4a","group":"fa994c63.cd88","order":5,"width":0,"height":0,"name":"","label":"Memory used","format":"{{msg.payload | number:0}} %","layout":"row-spread","x":1040,"y":500,"wires":[]},{"id":"cadd050c.9d1af8","type":"Uptime","z":"387e06b9.46af4a","name":"","x":360,"y":540,"wires":[["3c6f34e6.6dc27c"]]},{"id":"3c6f34e6.6dc27c","type":"ui_text","z":"387e06b9.46af4a","group":"fa994c63.cd88","order":1,"width":0,"height":0,"name":"","label":"Uptime (Days)","format":"{{payload.uptime*0.00001157 | number:1}}","layout":"row-spread","x":1040,"y":540,"wires":[]},{"id":"76176701.d44408","type":"Memory","z":"387e06b9.46af4a","name":"","x":360,"y":740,"wires":[["242904e7.6318fc"]]},{"id":"433a9e13.4297","type":"inject","z":"387e06b9.46af4a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"60","topic":"","payload":"","payloadType":"date","x":170,"y":740,"wires":[["76176701.d44408"]]},{"id":"14501043.e7979","type":"ui_text","z":"387e06b9.46af4a","group":"fa994c63.cd88","order":8,"width":0,"height":0,"name":"","label":"Memory used at boot","format":"{{msg.payload | number:0}} %","layout":"row-spread","x":1060,"y":740,"wires":[]},{"id":"242904e7.6318fc","type":"change","z":"387e06b9.46af4a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.memusage","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":740,"wires":[["14501043.e7979"]]},{"id":"6026daa1.5f8584","type":"cpu","z":"387e06b9.46af4a","name":"","msgCore":false,"msgOverall":true,"msgArray":false,"msgTemp":false,"x":370,"y":620,"wires":[["636ebb7b.1d1424","65135d21.97e224"]]},{"id":"60f5464a.947ed8","type":"cpu","z":"387e06b9.46af4a","name":"Temperature","msgCore":false,"msgOverall":false,"msgArray":false,"msgTemp":true,"x":370,"y":700,"wires":[["9603e60a.0d7b08","adb582bd.9cca8"]]},{"id":"2f923e5f.53b342","type":"ui_text","z":"387e06b9.46af4a","group":"fa994c63.cd88","order":6,"width":0,"height":0,"name":"","label":"CPU Usage ave","format":"{{msg.payload}} %","layout":"row-spread","x":1040,"y":620,"wires":[]},{"id":"f1bcab7d.c62cf8","type":"ui_text","z":"387e06b9.46af4a","group":"fa994c63.cd88","order":7,"width":0,"height":0,"name":"","label":"CPU Temp ave","format":"{{msg.payload}} &degC","layout":"row-spread","x":1040,"y":700,"wires":[]},{"id":"636ebb7b.1d1424","type":"smooth","z":"387e06b9.46af4a","name":"","property":"payload","action":"mean","count":"50","round":"0","mult":"single","reduce":false,"x":660,"y":620,"wires":[["2f923e5f.53b342"]]},{"id":"9603e60a.0d7b08","type":"smooth","z":"387e06b9.46af4a","name":"","property":"payload","action":"mean","count":"50","round":"0","mult":"single","reduce":false,"x":660,"y":700,"wires":[["f1bcab7d.c62cf8"]]},{"id":"65135d21.97e224","type":"ui_text","z":"387e06b9.46af4a","group":"fa994c63.cd88","order":3,"width":0,"height":0,"name":"","label":"CPU Usage","format":"{{msg.payload | number:0}} %","layout":"row-spread","x":1030,"y":580,"wires":[]},{"id":"adb582bd.9cca8","type":"ui_text","z":"387e06b9.46af4a","group":"fa994c63.cd88","order":4,"width":0,"height":0,"name":"","label":"CPU Temp","format":"{{msg.payload | number:0}} &degC","layout":"row-spread","x":1030,"y":660,"wires":[]},{"id":"abe7a0d.5d83d6","type":"delay","z":"387e06b9.46af4a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":340,"wires":[["ee8645f0.f87f18"]]},{"id":"b70face5.99334","type":"delay","z":"387e06b9.46af4a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":400,"wires":[["a36d7cde.2451f"]]},{"id":"d05bfadc.048988","type":"s7 in","z":"5c268a70.aa6074","d":true,"endpoint":"74d94e84.08754","mode":"all-split","variable":"Forebay1","diff":true,"name":"All Variables to Dasboard","x":1210,"y":200,"wires":[["38b2334e.66a5dc"]]},{"id":"7dbd1aa7.8a5174","type":"s7 control","z":"5c268a70.aa6074","endpoint":"74d94e84.08754","function":"trigger","name":"","x":670,"y":160,"wires":[[]]},{"id":"d5c4bfb0.0ad78","type":"inject","z":"5c268a70.aa6074","name":"Auto Refresh Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":"30","topic":"","payload":"","payloadType":"date","x":270,"y":120,"wires":[["7dbd1aa7.8a5174","394ad6ef.fc042a"]]},{"id":"4bb96fc8.35841","type":"ui_text","z":"5c268a70.aa6074","d":true,"group":"37e4ec79.6b7cc4","order":3,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":1600,"y":200,"wires":[]},{"id":"38b2334e.66a5dc","type":"delay","z":"5c268a70.aa6074","d":true,"name":"","pauseType":"rate","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1440,"y":200,"wires":[["4bb96fc8.35841"]]},{"id":"908011c7.86697","type":"ui_text","z":"5c268a70.aa6074","group":"37e4ec79.6b7cc4","order":5,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":380,"wires":[]},{"id":"7a7341a5.07fae","type":"s7 in","z":"5c268a70.aa6074","endpoint":"74d94e84.08754","mode":"single","variable":"downstream","diff":true,"name":"Downstream water level (m)","x":200,"y":380,"wires":[["a079912f.cda6d"]]},{"id":"b6fcfc4.2e65b","type":"s7 in","z":"5c268a70.aa6074","endpoint":"74d94e84.08754","mode":"single","variable":"forebay_1","diff":true,"name":"Forebay 1 (m)","x":150,"y":420,"wires":[["c578d14e.5a2e8"]]},{"id":"758ce809.ab30d8","type":"s7 in","z":"5c268a70.aa6074","endpoint":"74d94e84.08754","mode":"single","variable":"forebay_2","diff":true,"name":"Forebay 2 (m)","x":150,"y":460,"wires":[["c6b05f47.9baac"]]},{"id":"61165840.896ad8","type":"s7 in","z":"5c268a70.aa6074","endpoint":"74d94e84.08754","mode":"single","variable":"upstream","diff":true,"name":"Upstream water level (m)","x":190,"y":500,"wires":[["978c0d28.f179d"]]},{"id":"e15db7eb.acbd58","type":"s7 in","z":"5c268a70.aa6074","endpoint":"74d94e84.08754","mode":"single","variable":"gen1_power_kw","diff":true,"name":"Generator 1 Power (kW)","x":190,"y":540,"wires":[["e954ed0e.12cb6"]]},{"id":"ae23265d.22eff8","type":"s7 in","z":"5c268a70.aa6074","endpoint":"74d94e84.08754","mode":"single","variable":"gen1_drive_rpm","diff":true,"name":"Generator 1 drive (rpm)","x":180,"y":580,"wires":[["995393a0.ac62a"]]},{"id":"445b1e17.06f54","type":"s7 in","z":"5c268a70.aa6074","endpoint":"74d94e84.08754","mode":"single","variable":"gen1_screw_rpm","diff":true,"name":"Generator 1 screw (rpm)","x":190,"y":620,"wires":[["6c5e7058.74e3c"]]},{"id":"9df656ef.7e40b8","type":"s7 in","z":"5c268a70.aa6074","endpoint":"74d94e84.08754","mode":"single","variable":"gen1_torque","diff":true,"name":"Generator 1 torque (%)","x":180,"y":660,"wires":[["692f4a66.1550a4"]]},{"id":"7aa69f46.9ccff","type":"s7 in","z":"5c268a70.aa6074","endpoint":"74d94e84.08754","mode":"single","variable":"gen1_inverter_amp","diff":true,"name":"Generator 1 inverter current (A)","x":210,"y":700,"wires":[["cacf5512.e27098"]]},{"id":"803fcecf.5ea9d","type":"s7 in","z":"5c268a70.aa6074","endpoint":"74d94e84.08754","mode":"single","variable":"gen1_flow_ls","diff":true,"name":"Generator 1 flow (l/s)","x":180,"y":740,"wires":[["30af326f.e7591e"]]},{"id":"219863b6.e1063c","type":"s7 in","z":"5c268a70.aa6074","endpoint":"74d94e84.08754","mode":"single","variable":"gen1_energy_mwh","diff":true,"name":"Generator 1 energy (MWh)","x":190,"y":780,"wires":[["6f96502.61729b"]]},{"id":"e24ba287.f672a","type":"s7 in","z":"5c268a70.aa6074","endpoint":"74d94e84.08754","mode":"single","variable":"gen1_total_flow_m3","diff":true,"name":"Generator 1 total flow (m3)","x":190,"y":820,"wires":[["27d8b7bc.498338"]]},{"id":"b3923ce0.cfa5c","type":"s7 in","z":"5c268a70.aa6074","endpoint":"74d94e84.08754","mode":"single","variable":"gen1_gearbox_temp","diff":true,"name":"Generator 1 gearbox temperature (C)","x":230,"y":860,"wires":[["7d7268d4.8e5af8"]]},{"id":"b2ab1bc7.32afa8","type":"s7 in","z":"5c268a70.aa6074","endpoint":"74d94e84.08754","mode":"single","variable":"gen1_operating_hours","diff":true,"name":"Generator 1 operating hours","x":200,"y":900,"wires":[["83f65063.d0fd4"]]},{"id":"d585019.b596c","type":"s7 in","z":"5c268a70.aa6074","endpoint":"74d94e84.08754","mode":"single","variable":"gen2_power_kw","diff":true,"name":"Generator 2 power (kW)","x":180,"y":940,"wires":[["8fbab75f.44d528"]]},{"id":"44facdf6.ceb8d4","type":"s7 in","z":"5c268a70.aa6074","endpoint":"74d94e84.08754","mode":"single","variable":"gen2_drive_rpm","diff":true,"name":"Generator 2 drive (rpm)","x":180,"y":980,"wires":[["b5067005.60f59"]]},{"id":"f9cfc560.e128c8","type":"s7 in","z":"5c268a70.aa6074","endpoint":"74d94e84.08754","mode":"single","variable":"gen2_screw_rpm","diff":true,"name":"Generator 2 screw (rpm)","x":190,"y":1020,"wires":[["150730d6.ea7d0f"]]},{"id":"7e448787.655ed8","type":"s7 in","z":"5c268a70.aa6074","endpoint":"74d94e84.08754","mode":"single","variable":"gen2_torque","diff":true,"name":"Generator 2 torque (%)","x":180,"y":1060,"wires":[["8d07b296.f8914"]]},{"id":"19a0333d.3cc3cd","type":"s7 in","z":"5c268a70.aa6074","endpoint":"74d94e84.08754","mode":"single","variable":"gen2_inverter_amp","diff":true,"name":"Generator 2 inverter current (A)","x":210,"y":1100,"wires":[["6caac010.99cf9"]]},{"id":"fae5313a.0887b","type":"s7 in","z":"5c268a70.aa6074","endpoint":"74d94e84.08754","mode":"single","variable":"gen2_flow_ls","diff":true,"name":"Generator 2 flow (l/s)","x":180,"y":1140,"wires":[["e86631ea.db9b5"]]},{"id":"4d0f775d.46fa08","type":"s7 in","z":"5c268a70.aa6074","endpoint":"74d94e84.08754","mode":"single","variable":"gen2_energy_mwh","diff":true,"name":"Generator 2 energy (MWh)","x":190,"y":1180,"wires":[["dafb1764.77d498"]]},{"id":"402f21f0.4a49b","type":"s7 in","z":"5c268a70.aa6074","endpoint":"74d94e84.08754","mode":"single","variable":"gen2_total_flow_m3","diff":true,"name":"Generator 2 total flow (m3)","x":190,"y":1220,"wires":[["6e2b21d6.60f9c"]]},{"id":"393ac068.fbe5f","type":"ui_text","z":"5c268a70.aa6074","group":"37e4ec79.6b7cc4","order":6,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":420,"wires":[]},{"id":"87d869fe.139188","type":"ui_text","z":"5c268a70.aa6074","group":"37e4ec79.6b7cc4","order":7,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":460,"wires":[]},{"id":"b50aae18.1ba6f","type":"ui_text","z":"5c268a70.aa6074","group":"37e4ec79.6b7cc4","order":4,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":500,"wires":[]},{"id":"5e638cda.044154","type":"ui_text","z":"5c268a70.aa6074","group":"37e4ec79.6b7cc4","order":9,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":540,"wires":[]},{"id":"72ec7733.975438","type":"ui_text","z":"5c268a70.aa6074","group":"37e4ec79.6b7cc4","order":10,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":580,"wires":[]},{"id":"b74e3d37.cc52c","type":"ui_text","z":"5c268a70.aa6074","group":"37e4ec79.6b7cc4","order":11,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":620,"wires":[]},{"id":"f29a196.07e92e8","type":"ui_text","z":"5c268a70.aa6074","group":"37e4ec79.6b7cc4","order":12,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":660,"wires":[]},{"id":"4a4449e4.fcce98","type":"ui_text","z":"5c268a70.aa6074","group":"37e4ec79.6b7cc4","order":13,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":700,"wires":[]},{"id":"18e4f6bb.f993d9","type":"ui_text","z":"5c268a70.aa6074","group":"37e4ec79.6b7cc4","order":14,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":740,"wires":[]},{"id":"950fbf8f.c9434","type":"ui_text","z":"5c268a70.aa6074","group":"37e4ec79.6b7cc4","order":15,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":780,"wires":[]},{"id":"e27b94df.3ebad8","type":"ui_text","z":"5c268a70.aa6074","group":"37e4ec79.6b7cc4","order":16,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":820,"wires":[]},{"id":"5027e44f.57c14c","type":"ui_text","z":"5c268a70.aa6074","group":"37e4ec79.6b7cc4","order":17,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":860,"wires":[]},{"id":"83f65063.d0fd4","type":"ui_text","z":"5c268a70.aa6074","group":"37e4ec79.6b7cc4","order":18,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":900,"wires":[]},{"id":"315ba3c5.e3a09c","type":"ui_text","z":"5c268a70.aa6074","group":"37e4ec79.6b7cc4","order":19,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":940,"wires":[]},{"id":"9cf3e65d.1fa558","type":"ui_text","z":"5c268a70.aa6074","group":"37e4ec79.6b7cc4","order":20,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":980,"wires":[]},{"id":"6ecd8787.5c5c48","type":"ui_text","z":"5c268a70.aa6074","group":"37e4ec79.6b7cc4","order":21,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":1020,"wires":[]},{"id":"1a3587d0.fd0888","type":"ui_text","z":"5c268a70.aa6074","group":"37e4ec79.6b7cc4","order":22,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":1060,"wires":[]},{"id":"67178a28.784884","type":"ui_text","z":"5c268a70.aa6074","group":"37e4ec79.6b7cc4","order":23,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":1100,"wires":[]},{"id":"f3f2fc.a28f0d08","type":"ui_text","z":"5c268a70.aa6074","group":"37e4ec79.6b7cc4","order":24,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":1140,"wires":[]},{"id":"d44fcf67.82b8c","type":"ui_text","z":"5c268a70.aa6074","group":"37e4ec79.6b7cc4","order":25,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":1180,"wires":[]},{"id":"c67d9625.bd0608","type":"ui_text","z":"5c268a70.aa6074","group":"37e4ec79.6b7cc4","order":26,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":1220,"wires":[]},{"id":"c49e3dad.943d4","type":"s7 in","z":"5c268a70.aa6074","endpoint":"74d94e84.08754","mode":"single","variable":"gen2_gearbox_temp","diff":true,"name":"Generator 2 gearbox temperature (C)","x":230,"y":1260,"wires":[["3fd23bc8.607ce4"]]},{"id":"b3aeb362.e684a","type":"s7 in","z":"5c268a70.aa6074","endpoint":"74d94e84.08754","mode":"single","variable":"gen2_operating_hours","diff":true,"name":"Generator 2 operating hours","x":200,"y":1300,"wires":[["59fac576.502efc"]]},{"id":"a41b89a6.b25e28","type":"s7 in","z":"5c268a70.aa6074","endpoint":"74d94e84.08754","mode":"single","variable":"room_temp","diff":true,"name":"Room temperature (C)","x":180,"y":1340,"wires":[["76895727.c988d8"]]},{"id":"47f428a1.3a3ef8","type":"s7 in","z":"5c268a70.aa6074","endpoint":"74d94e84.08754","mode":"single","variable":"control_panel_temp","diff":true,"name":"Control panel temperature (C)","x":200,"y":1380,"wires":[["4af9d807.fa26c8"]]},{"id":"a4db888e.c3d548","type":"ui_text","z":"5c268a70.aa6074","group":"37e4ec79.6b7cc4","order":27,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":1260,"wires":[]},{"id":"59fac576.502efc","type":"ui_text","z":"5c268a70.aa6074","group":"37e4ec79.6b7cc4","order":28,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":1300,"wires":[]},{"id":"f5c03811.cc5698","type":"ui_text","z":"5c268a70.aa6074","group":"37e4ec79.6b7cc4","order":29,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":1340,"wires":[]},{"id":"c20ea2dc.a6049","type":"ui_text","z":"5c268a70.aa6074","group":"37e4ec79.6b7cc4","order":30,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":1380,"wires":[]},{"id":"a079912f.cda6d","type":"smooth","z":"5c268a70.aa6074","name":"3 D.P","property":"payload","action":"mean","count":"1","round":"3","mult":"single","reduce":false,"x":590,"y":380,"wires":[["908011c7.86697","c32031fe.de21b","a9308643.96be08"]]},{"id":"c578d14e.5a2e8","type":"smooth","z":"5c268a70.aa6074","name":"3 D.P","property":"payload","action":"mean","count":"1","round":"3","mult":"single","reduce":false,"x":590,"y":420,"wires":[["393ac068.fbe5f"]]},{"id":"c6b05f47.9baac","type":"smooth","z":"5c268a70.aa6074","name":"3 D.P","property":"payload","action":"mean","count":"1","round":"3","mult":"single","reduce":false,"x":590,"y":460,"wires":[["87d869fe.139188"]]},{"id":"978c0d28.f179d","type":"smooth","z":"5c268a70.aa6074","name":"3 D.P","property":"payload","action":"mean","count":"1","round":"3","mult":"single","reduce":false,"x":590,"y":500,"wires":[["b50aae18.1ba6f","c32031fe.de21b","578421c1.c60ae"]]},{"id":"defd611f.a33a3","type":"smooth","z":"5c268a70.aa6074","name":"0 D.P","property":"payload","action":"mean","count":"1","round":"0","mult":"single","reduce":false,"x":590,"y":540,"wires":[["5e638cda.044154","ea69d2c7.7695f","b0e5b988.90ce68"]]},{"id":"995393a0.ac62a","type":"smooth","z":"5c268a70.aa6074","name":"0 D.P","property":"payload","action":"mean","count":"1","round":"0","mult":"single","reduce":false,"x":590,"y":580,"wires":[["72ec7733.975438"]]},{"id":"6c5e7058.74e3c","type":"smooth","z":"5c268a70.aa6074","name":"0 D.P","property":"payload","action":"mean","count":"1","round":"0","mult":"single","reduce":false,"x":590,"y":620,"wires":[["b74e3d37.cc52c"]]},{"id":"a1077ff.31cca8","type":"smooth","z":"5c268a70.aa6074","name":"0 D.P","property":"payload","action":"mean","count":"1","round":"0","mult":"single","reduce":false,"x":590,"y":660,"wires":[["f29a196.07e92e8"]]},{"id":"cacf5512.e27098","type":"smooth","z":"5c268a70.aa6074","name":"0 D.P","property":"payload","action":"mean","count":"1","round":"0","mult":"single","reduce":false,"x":590,"y":700,"wires":[["4a4449e4.fcce98"]]},{"id":"30af326f.e7591e","type":"smooth","z":"5c268a70.aa6074","name":"0 D.P","property":"payload","action":"mean","count":"1","round":"0","mult":"single","reduce":false,"x":590,"y":740,"wires":[["18e4f6bb.f993d9"]]},{"id":"27d8b7bc.498338","type":"smooth","z":"5c268a70.aa6074","name":"0 D.P","property":"payload","action":"mean","count":"1","round":"0","mult":"single","reduce":false,"x":590,"y":820,"wires":[["e27b94df.3ebad8"]]},{"id":"7d7268d4.8e5af8","type":"smooth","z":"5c268a70.aa6074","name":"1 D.P","property":"payload","action":"mean","count":"1","round":"1","mult":"single","reduce":false,"x":590,"y":860,"wires":[["5027e44f.57c14c","7636fc61.a696f4"]]},{"id":"cafebd20.dd9f4","type":"smooth","z":"5c268a70.aa6074","name":"0 D.P","property":"payload","action":"mean","count":"1","round":"0","mult":"single","reduce":false,"x":590,"y":940,"wires":[["315ba3c5.e3a09c","ea69d2c7.7695f","7f7e1627.21f3f8"]]},{"id":"b5067005.60f59","type":"smooth","z":"5c268a70.aa6074","name":"0 D.P","property":"payload","action":"mean","count":"1","round":"0","mult":"single","reduce":false,"x":590,"y":980,"wires":[["9cf3e65d.1fa558"]]},{"id":"150730d6.ea7d0f","type":"smooth","z":"5c268a70.aa6074","name":"0 D.P","property":"payload","action":"mean","count":"1","round":"0","mult":"single","reduce":false,"x":590,"y":1020,"wires":[["6ecd8787.5c5c48"]]},{"id":"71aeffa3.ee2fe","type":"smooth","z":"5c268a70.aa6074","name":"0 D.P","property":"payload","action":"mean","count":"1","round":"0","mult":"single","reduce":false,"x":590,"y":1060,"wires":[["1a3587d0.fd0888"]]},{"id":"6caac010.99cf9","type":"smooth","z":"5c268a70.aa6074","name":"0 D.P","property":"payload","action":"mean","count":"1","round":"0","mult":"single","reduce":false,"x":590,"y":1100,"wires":[["67178a28.784884"]]},{"id":"e86631ea.db9b5","type":"smooth","z":"5c268a70.aa6074","name":"0 D.P","property":"payload","action":"mean","count":"1","round":"0","mult":"single","reduce":false,"x":590,"y":1140,"wires":[["f3f2fc.a28f0d08"]]},{"id":"6e2b21d6.60f9c","type":"smooth","z":"5c268a70.aa6074","name":"0 D.P","property":"payload","action":"mean","count":"1","round":"0","mult":"single","reduce":false,"x":590,"y":1220,"wires":[["c67d9625.bd0608"]]},{"id":"6f96502.61729b","type":"smooth","z":"5c268a70.aa6074","name":"1 D.P","property":"payload","action":"mean","count":"1","round":"1","mult":"single","reduce":false,"x":590,"y":780,"wires":[["950fbf8f.c9434"]]},{"id":"dafb1764.77d498","type":"smooth","z":"5c268a70.aa6074","name":"1 D.P","property":"payload","action":"mean","count":"1","round":"1","mult":"single","reduce":false,"x":590,"y":1180,"wires":[["d44fcf67.82b8c"]]},{"id":"3fd23bc8.607ce4","type":"smooth","z":"5c268a70.aa6074","name":"1 D.P","property":"payload","action":"mean","count":"1","round":"1","mult":"single","reduce":false,"x":590,"y":1260,"wires":[["a4db888e.c3d548","a8e9bb1e.c1c768"]]},{"id":"76895727.c988d8","type":"smooth","z":"5c268a70.aa6074","name":"1 D.P","property":"payload","action":"mean","count":"1","round":"1","mult":"single","reduce":false,"x":590,"y":1340,"wires":[["f5c03811.cc5698","69492586.9357bc"]]},{"id":"4af9d807.fa26c8","type":"smooth","z":"5c268a70.aa6074","name":"1 D.P","property":"payload","action":"mean","count":"1","round":"1","mult":"single","reduce":false,"x":590,"y":1380,"wires":[["c20ea2dc.a6049","911269be.8b47a8"]]},{"id":"c32031fe.de21b","type":"ui_chart","z":"5c268a70.aa6074","name":"","group":"dd0f6c17.983a6","order":1,"width":0,"height":0,"label":"Water Levels","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1570,"y":380,"wires":[["572f6241.b48d6c"]]},{"id":"ea69d2c7.7695f","type":"ui_chart","z":"5c268a70.aa6074","name":"","group":"dd0f6c17.983a6","order":2,"width":0,"height":0,"label":"Power","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1eb33c","#c6e9af","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1550,"y":440,"wires":[["9a9ba464.4a7638"]]},{"id":"a988bb01.d91088","type":"ui_button","z":"5c268a70.aa6074","name":"","group":"37e4ec79.6b7cc4","order":2,"width":0,"height":0,"passthru":false,"label":"Refresh Data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":150,"y":220,"wires":[["394ad6ef.fc042a","18c239eb.3f00c6"]]},{"id":"7636fc61.a696f4","type":"change","z":"5c268a70.aa6074","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Gearbox 1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":520,"wires":[["4b184a9a.9c7124"]]},{"id":"a8e9bb1e.c1c768","type":"change","z":"5c268a70.aa6074","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Gearbox 2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":560,"wires":[["4b184a9a.9c7124"]]},{"id":"69492586.9357bc","type":"change","z":"5c268a70.aa6074","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Building","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":600,"wires":[["4b184a9a.9c7124"]]},{"id":"911269be.8b47a8","type":"change","z":"5c268a70.aa6074","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Panel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":640,"wires":[["4b184a9a.9c7124"]]},{"id":"4b184a9a.9c7124","type":"ui_chart","z":"5c268a70.aa6074","name":"","group":"dd0f6c17.983a6","order":3,"width":0,"height":0,"label":"Temperatures (&degC)","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1600,"y":480,"wires":[["431ef14f.623f"]]},{"id":"e954ed0e.12cb6","type":"range","z":"5c268a70.aa6074","minin":"-100","maxin":"100","minout":"100","maxout":"-100","action":"scale","round":false,"property":"payload","name":"Convert to +ve","x":440,"y":540,"wires":[["defd611f.a33a3"]]},{"id":"692f4a66.1550a4","type":"range","z":"5c268a70.aa6074","minin":"-100","maxin":"100","minout":"100","maxout":"-100","action":"scale","round":false,"property":"payload","name":"Convert to +ve","x":440,"y":660,"wires":[["a1077ff.31cca8"]]},{"id":"8fbab75f.44d528","type":"range","z":"5c268a70.aa6074","minin":"-100","maxin":"100","minout":"100","maxout":"-100","action":"scale","round":false,"property":"payload","name":"Convert to +ve","x":440,"y":940,"wires":[["cafebd20.dd9f4"]]},{"id":"8d07b296.f8914","type":"range","z":"5c268a70.aa6074","minin":"-100","maxin":"100","minout":"100","maxout":"-100","action":"scale","round":false,"property":"payload","name":"Convert to +ve","x":440,"y":1060,"wires":[["71aeffa3.ee2fe"]]},{"id":"4c02826f.4b71ac","type":"comment","z":"5c268a70.aa6074","name":"Adjust refresh rate for data here. DO NOT refresh more than every 5s.","info":"","x":310,"y":80,"wires":[]},{"id":"d6002eef.bc8bd","type":"comment","z":"5c268a70.aa6074","name":"Manual Dashboard Test to refresh Data","info":"","x":220,"y":180,"wires":[]},{"id":"7264c8b.de36a38","type":"status","z":"5c268a70.aa6074","name":"Connection Status","scope":["7dbd1aa7.8a5174"],"x":230,"y":280,"wires":[["b5d4da19.7ccae8"]]},{"id":"b5d4da19.7ccae8","type":"ui_text","z":"5c268a70.aa6074","group":"37e4ec79.6b7cc4","order":1,"width":0,"height":0,"name":"","label":"Connection Status","format":"{{status.text}}","layout":"row-spread","x":470,"y":280,"wires":[]},{"id":"a3bfdc35.1d057","type":"comment","z":"5c268a70.aa6074","name":"Use data after decimal place conversion below for correct format","info":"","x":550,"y":340,"wires":[]},{"id":"aa514534.539018","type":"comment","z":"5c268a70.aa6074","name":"Example Text to dashboard (topic automatic)","info":"","x":1010,"y":340,"wires":[]},{"id":"ae09e7b3.1dc298","type":"comment","z":"5c268a70.aa6074","name":"Example Graph to dashboard","info":"","x":1560,"y":340,"wires":[]},{"id":"90492247.94e32","type":"comment","z":"5c268a70.aa6074","name":"Example Gauge to dashboard","info":"","x":1900,"y":340,"wires":[]},{"id":"b0e5b988.90ce68","type":"ui_gauge","z":"5c268a70.aa6074","name":"","group":"33cdf7c4.ef3a58","order":3,"width":0,"height":0,"gtype":"gage","title":"{{topic}}","label":"","format":"{{value}}","min":0,"max":"23","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1910,"y":400,"wires":[]},{"id":"7f7e1627.21f3f8","type":"ui_gauge","z":"5c268a70.aa6074","name":"","group":"33cdf7c4.ef3a58","order":4,"width":0,"height":0,"gtype":"gage","title":"{{topic}}","label":"","format":"{{value}}","min":0,"max":"23","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1910,"y":440,"wires":[]},{"id":"394ad6ef.fc042a","type":"function","z":"5c268a70.aa6074","name":"","func":"msg.payload = global.get(\"upstream\") - global.get(\"downstream\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2280,"y":400,"wires":[["a4eccc49.50fc6"]]},{"id":"578421c1.c60ae","type":"function","z":"5c268a70.aa6074","name":"","func":"global.set('upstream',msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2280,"y":440,"wires":[[]]},{"id":"a9308643.96be08","type":"function","z":"5c268a70.aa6074","name":"","func":"global.set('downstream',msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2280,"y":480,"wires":[[]]},{"id":"a4eccc49.50fc6","type":"smooth","z":"5c268a70.aa6074","name":"","property":"payload","action":"mean","count":"1","round":"3","mult":"single","reduce":false,"x":2450,"y":400,"wires":[["500ccf60.28a0a"]]},{"id":"500ccf60.28a0a","type":"change","z":"5c268a70.aa6074","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Gross Head (m)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2650,"y":400,"wires":[["6c515138.11d9e"]]},{"id":"6c515138.11d9e","type":"ui_text","z":"5c268a70.aa6074","group":"37e4ec79.6b7cc4","order":8,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":2870,"y":400,"wires":[]},{"id":"a4b87b74.d149f8","type":"comment","z":"5c268a70.aa6074","name":"Example Gross Head to dashboard","info":"","x":2360,"y":340,"wires":[]},{"id":"18c239eb.3f00c6","type":"delay","z":"5c268a70.aa6074","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":380,"y":220,"wires":[["7dbd1aa7.8a5174"]]},{"id":"9a9ba464.4a7638","type":"persist in","z":"5c268a70.aa6074","name":"power","storageNode":"2111afa5.74e01","x":1730,"y":440,"wires":[]},{"id":"9e4449f4.2bf9b8","type":"persist out","z":"5c268a70.aa6074","name":"power","storageNode":"2111afa5.74e01","x":1290,"y":440,"wires":[["ea69d2c7.7695f"]]},{"id":"572f6241.b48d6c","type":"persist out","z":"5c268a70.aa6074","name":"water","storageNode":"2111afa5.74e01","x":1730,"y":380,"wires":[[]]},{"id":"60bbe567.65901c","type":"persist out","z":"5c268a70.aa6074","name":"water","storageNode":"2111afa5.74e01","x":1300,"y":360,"wires":[["c32031fe.de21b"]]},{"id":"431ef14f.623f","type":"persist in","z":"5c268a70.aa6074","name":"temp","storageNode":"2111afa5.74e01","x":1820,"y":520,"wires":[]},{"id":"2f2e1d2a.8d0202","type":"persist out","z":"5c268a70.aa6074","name":"temp","storageNode":"2111afa5.74e01","x":1620,"y":600,"wires":[["4b184a9a.9c7124"]]},{"id":"fb22fbf5.dafd08","type":"mqtt out","z":"5c268a70.aa6074","name":"mqtt broker for RdgHydro.org","topic":"hydro-data","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10f87626.6b7caa","x":1800,"y":1500,"wires":[]},{"id":"bd524198.61941","type":"s7 in","z":"5c268a70.aa6074","endpoint":"74d94e84.08754","mode":"all","variable":"","diff":true,"name":"All data to mqtt","x":220,"y":1520,"wires":[["8e7de8b.d48e818"]]},{"id":"8e7de8b.d48e818","type":"change","z":"5c268a70.aa6074","name":"round_to_3dp_for_mqtt","rules":[{"t":"set","p":"payload.downstream","pt":"msg","to":"$round($number(payload.downstream),3)","tot":"jsonata"},{"t":"set","p":"payload.forebay_1","pt":"msg","to":"$round($number(payload.forebay_1),3)","tot":"jsonata"},{"t":"set","p":"payload.forebay_2","pt":"msg","to":"$round($number(payload.forebay_2),3)","tot":"jsonata"},{"t":"set","p":"payload.upstream","pt":"msg","to":"$round($number(payload.upstream),3)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1520,"wires":[["a6437c29.3f70e"]]},{"id":"a6437c29.3f70e","type":"change","z":"5c268a70.aa6074","name":"convert_to_positive_for_mqtt","rules":[{"t":"set","p":"payload.gen1_power_kw","pt":"msg","to":"$round($number(payload.gen1_power_kw)*-1,1)","tot":"jsonata"},{"t":"set","p":"payload.gen1_torque","pt":"msg","to":"$round($number(payload.gen1_torque)*-1,1)","tot":"jsonata"},{"t":"set","p":"payload.gen2_power_kw","pt":"msg","to":"$round($number(payload.gen2_power_kw)*-1,1)","tot":"jsonata"},{"t":"set","p":"payload.gen2_torque","pt":"msg","to":"$round($number(payload.gen2_torque)*-1,1)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1580,"wires":[["2c544a83.488766"]]},{"id":"2c544a83.488766","type":"change","z":"5c268a70.aa6074","name":"round_to_1dp_for_mqtt","rules":[{"t":"set","p":"payload.gen1_energy_mwh","pt":"msg","to":"$round($number(payload.gen1_energy_mwh),1)","tot":"jsonata"},{"t":"set","p":"payload.gen1_gearbox_temp","pt":"msg","to":"$round($number(payload.gen1_gearbox_temp),1)","tot":"jsonata"},{"t":"set","p":"payload.gen2_energy_mwh","pt":"msg","to":"$round($number(payload.gen2_energy_mwh),1)","tot":"jsonata"},{"t":"set","p":"payload.gen2_gearbox_temp","pt":"msg","to":"$round($number(payload.gen2_gearbox_temp),1)","tot":"jsonata"},{"t":"set","p":"payload.room_temp","pt":"msg","to":"$round($number(payload.room_temp),1)","tot":"jsonata"},{"t":"set","p":"payload.control_panel_temp","pt":"msg","to":"$round($number(payload.control_panel_temp),1)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1640,"wires":[["9c4a5746.c12538"]]},{"id":"9c4a5746.c12538","type":"change","z":"5c268a70.aa6074","name":"round_to_integer_for mqtt","rules":[{"t":"set","p":"payload.gen1_drive_rpm","pt":"msg","to":"$round($number(payload.gen1_drive_rpm),0)","tot":"jsonata"},{"t":"set","p":"payload.gen1_screw_rpm","pt":"msg","to":"$round($number(payload.gen1_screw_rpm),0)","tot":"jsonata"},{"t":"set","p":"payload.gen1_inverter_amp","pt":"msg","to":"$round($number(payload.gen1_inverter_amp),0)","tot":"jsonata"},{"t":"set","p":"payload.gen1_flow_ls","pt":"msg","to":"$round($number(payload.gen1_flow_ls),0)","tot":"jsonata"},{"t":"set","p":"payload.gen1_total_flow_m3","pt":"msg","to":"$round($number(payload.gen1_total_flow_m3),0)","tot":"jsonata"},{"t":"set","p":"payload.gen2_drive_rpm","pt":"msg","to":"$round($number(payload.gen2_drive_rpm),0)","tot":"jsonata"},{"t":"set","p":"payload.gen2_screw_rpm","pt":"msg","to":"$round($number(payload.gen2_screw_rpm),0)","tot":"jsonata"},{"t":"set","p":"payload.gen2_inverter_amp","pt":"msg","to":"$round($number(payload.gen2_inverter_amp),0)","tot":"jsonata"},{"t":"set","p":"payload.gen2_flow_ls","pt":"msg","to":"$round($number(payload.gen2_flow_ls),0)","tot":"jsonata"},{"t":"set","p":"payload.gen2_total_flow_m3","pt":"msg","to":"$round($number(payload.gen2_total_flow_m3),0)","tot":"jsonata"},{"t":"set","p":"payload.gen1_operating_hours","pt":"msg","to":"$number(payload.gen1_operating_hours)","tot":"jsonata"},{"t":"set","p":"payload.gen2_operating_hours","pt":"msg","to":"$number(payload.gen2_operating_hours)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1700,"wires":[["fb22fbf5.dafd08","37b7fd34.e52992"]]},{"id":"bc59cb13.85afb8","type":"inject","z":"e887e495.f74df8","name":"","props":[],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":210,"y":240,"wires":[["f1bea54a.a4b0f8"]]},{"id":"f354edbe.75b34","type":"csv","z":"e887e495.f74df8","name":"parse the alarm csv message","sep":",","hdrin":false,"hdrout":"none","multi":"one","ret":"\\n","temp":"Time_ms, MsgProc, StateAfter, MsgClass, MsgNumber, Var1, Var2, Var3, Var4, Var5, Var6, Var7, Var8, TimeString, MsgText, PLC","skip":"0","strings":false,"include_empty_strings":"","include_null_values":"","x":660,"y":420,"wires":[["d39b36f3.17e188"]]},{"id":"f9167e9a.80f3f","type":"function","z":"e887e495.f74df8","name":"Just get the unread messages","func":"var messages=msg.payload.split('\\n');\nconst numberOfLines = messages.length;\nnode.warn(\"Number of Lines is \"+numberOfLines);\nvar firstMsgRow = global.get('lastMsgRow');\nif(firstMsgRow < 1 ) {\n    firstMsgRow=1;\n} else if(firstMsgRow>numberOfLines) {\n    firstMsgRow=numberOfLines;\n}\nglobal.set('firstMsgRow',firstMsgRow);\nglobal.set('lastMsgRow',numberOfLines);\nnode.warn(\"First row is: \"+firstMsgRow+\" and Last row is: \"+numberOfLines);\n\nmessages.splice(0,firstMsgRow-1);\nvar newPayload={ payload: messages.join('\\n') };\nnode.warn(\"msg.payload is \"+newPayload.payload);\nreturn newPayload;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":360,"wires":[["f354edbe.75b34"]]},{"id":"43de04cb.437e2c","type":"function","z":"e887e495.f74df8","name":"Adjust file pointers","func":"var rowPointer=global.get('firstMsgRow');\nvar lastRowPointer=global.get('lastMsgRow');\nrowPointer++;\nif (rowPointer>lastRowPointer) {\n    rowPointer=lastRowPointer;\n}\nglobal.set('firstMsgRow',rowPointer);\n// node.warn(\"FirstMsgRow is now \"+flow.get('firstMsgRow'));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":360,"wires":[[]]},{"id":"29eb0f21.4f0e3","type":"inject","z":"e887e495.f74df8","name":"Reset file pointers","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":230,"y":160,"wires":[["5a928252.89e6bc"]]},{"id":"5a928252.89e6bc","type":"change","z":"e887e495.f74df8","name":"","rules":[{"t":"set","p":"firstMsgRow","pt":"global","to":"0","tot":"str"},{"t":"set","p":"lastMsgRow","pt":"global","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":160,"wires":[[]]},{"id":"f14981cc.4be5c","type":"switch","z":"e887e495.f74df8","name":"checkMsgNumber","property":"payload.sendAlert","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1130,"y":480,"wires":[["6e24f2f9.231c9c"]]},{"id":"d39b36f3.17e188","type":"function","z":"e887e495.f74df8","name":"Is this a message that needs an alert?","func":"// This function checks against the list of MsgNumber that \n// need an alert sending to the duty staff.\n// You may need to amend this list in due course.\n// MsgNumber is the column heading in the Alarm_log CSV \n// file that lives on the SD card on the touch screen\n// control panel in the turbine room.\n\n\n// Any MsgNumbers in this list below will be ignored, everything else will alert.\nconst ignoreMsgNumbers= [\"158\",\"238\",\"70037\"];\nvar result=!ignoreMsgNumbers.some(c=>c===msg.payload.MsgNumber);\nnode.warn(\"Result of array some is \"+result);\n\nmsg.payload.sendAlert=result;\n\nreturn msg;\n\n// Previously we used to send alerts if the message was included below, but the above method is safer\n//const alertMsgNumbers= [\"36\",\"37\",\"38\",\"40\",\"41\",\"43\",\"44\",\"45\",\"60\",\"61\",\n//                        \"62\",\"67\",\"68\",\"69\",\"70\",\"71\",\"80\",\"106\",\"117\",\"119\",\n//                        \"121\",\"123\",\"127\",\"128\",\"135\",\"136\",\"143\",\"152\",\"153\",\n//                        \"154\",\"155\",\"160\",\"197\",\"199\",\"201\",\"203\",\"207\",\n//                        \"208\",\"215\",\"216\",\"223\",\"232\",\"233\",\"234\",\"235\",\n//                        \"240\",\"260000\"];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":480,"wires":[["43de04cb.437e2c","f14981cc.4be5c"]]},{"id":"f1bea54a.a4b0f8","type":"exec","z":"e887e495.f74df8","command":"/usr/bin/curl -v --user spaans:tinkerbell --get --url \"http://192.168.50.200/StorageCardSD/Alarm_log_10.csv\"","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"curl the file","x":330,"y":300,"wires":[["f9167e9a.80f3f"],[],[]]},{"id":"6e24f2f9.231c9c","type":"mqtt out","z":"e887e495.f74df8","name":"Send alert via MQTT","topic":"hydro-alert","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10f87626.6b7caa","x":1260,"y":540,"wires":[]},{"id":"37b7fd34.e52992","type":"debug","z":"5c268a70.aa6074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1750,"y":1640,"wires":[]}]
